html{
	background: url(http://top-torrent.ws/uploads/posts/2010-09/1284785217_52be3c1fa0682faa065778c7ac929a10.jpg);
	width: 100%;
	height: 100%;
	color: yellow;
}
textarea{
	width: 500px;
	height: 500px
}
